.container {
    background-color: #eeedfe;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
}

.container:hover {
    background-color: #d3e4f1;
}